services:
  backend:
    build: ./backend
    container_name: em-backend
    networks:
      - app-network

  nginx:
    image: nginx:1.27-alpine
    container_name: em-nginx
    ports:
      - "${NGINX_PORT}:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
